@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ring {
  0%, 100% { transform: rotate(0deg); }
  10%, 30% { transform: rotate(-15deg); }
  20%, 40% { transform: rotate(15deg); }
}
.animate-ring {
  animation: ring 1s ease-in-out infinite;
}